.home{
    display: flex;
    flex-wrap: wrap;
    .home-left{
        width: 700px;
        margin-right: 10px;
    }
    .home-right{
        width: 270px;
        height: 10px;
        background: #fff;
    }
}
.home-list{
    margin-bottom:10px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    padding:10px;
    background-color: #fff;
    .user-info{
        height: 25px;
        line-height: 25px;
        margin-bottom: 14px;
        font-size: 16px;
        color: #444;
    } 
    h2{
        font-size: 18px;
        font-weight: 600;
        line-height: 1.6;
        color: #1a1a1a;
        margin-bottom: 10px;
    }          
    .item-content{
        word-break: break-word;
        max-height: 100px;
        width: 100%;
        overflow: hidden; 
        text-overflow: ellipsis;
    }
    .item-footer{
        display: flex;
        flex-wrap: wrap;
    }
}
