.info{
  display: flex;
  flex-wrap: wrap;
  .info-title{
    width:1000px;
    height: 200px;
    background: url("./image/img4.jpg") no-repeat;
    background-size: 1000px 200px;
    font-size: 30px;
    font-family: STCaiyun;
    p{
      font-size: 14px;
      text-align: right;
      margin-top: 120px;
      font-family: YouYuan;
    }
  }
  .info-left{
    width: 700px;
    overflow: hidden;
    margin-right: 10px;
    margin-top: 20px;
    background: #fff;
  }
  .rightFixed{
    width: 300px;
    height: 580px;
    position: fixed;
    left: 903px;
    top:280px;
  }
  .info-fixed{
    width: 270px;
    height: 270px;
    background: url("./image/pho4.jpg") no-repeat;
    background-size: 270px 270px;
  }
}
